<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <%- include("partials/nav") %>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to <%= title %>
        </p>
        <% if (user && user.picture) { %>
            <div class="profileInfo">
                <img src="<%= user.picture %>" alt="<%= user.nickname %>'s Profile Picture" />
                <p class="name">
                    <%= user.given_name %>
                </p>
            </div>
            <% } %>
</body>

</html>